body {
    display: flex;
    flex-direction: column;
    min-width: 375px;
}

header {
  flex: 0 120px;
}

main {
  flex: 1 calc(100vh - 180px);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  background-color: rgb(33, 26, 80);
}

.newevent {border-radius: 8px; height: 90px; width: 200px; font-size: 25px;}
.newevent:hover {background-color: lightgreen;}
.accept {border-radius: 8px;}
.accept:hover {background-color: black; color: white;}
.reject {border-radius: 8px;}
.reject:hover {background-color: black; color: white;}
.dismiss {border-radius: 8px;}
.dismiss:hover {background-color: black; color: white;}
.addspoon {border-radius: 8px;}
.addspoon:hover {background-color: black; color: white;}
.soft {border-radius: 8px; margin-right: 1%;}
.soft:hover {background-color: darksalmon;}
.cancel {border-radius: 8px; margin-left: 1%;}
.cancel:hover {background-color: red;}


footer {
  flex: 0 30px;
}

.calandernew {
  flex: 1;
  display: flex;
  gap: 70px;
  flex-direction: row !important;
  list-style: none;
  align-items: center;
  justify-content: space-around;
}

ul {
  list-style: '';
}

.cInput {
  flex: 1;
  display: flex;
  gap: 10px;
  margin-top: 0.5%;
  margin-bottom: 2%;
  flex-direction: row !important;
  list-style: none;
  align-items: center;
  justify-content: space-around;
}

h3 {
  margin-top: 1%
}

.notifications {
  flex: 1;
  display: flex;
  flex-direction: column;
  list-style: none;
  align-items: center;
  justify-content: space-around;
}

menu {
  flex: 1;
  display: flex;
  flex-direction: row !important;
  list-style: none;
  align-items: center;
  justify-content: space-around;
}

.navbar-brand {
  padding-left: 0.3em;
}

menu .nav-item {
  padding: 0 0.3em;
}

footer a {
  float: right;
}

@media (max-height: 600px) {
  header {
    display: none;
  }
  footer {
    display: none;
  }
  main {
    flex: 1 100vh;
  }
}

.alerts {
  flex: 1;
  width: 100%;
  padding: 0.5em;
}

.user-name {
  color: rgb(118, 190, 210);
  margin: 0 0.25em;
}

#messages {
  padding-top: 0.25em;
  opacity: 0.7;
}

.event {
  color: rgb(69, 69, 69);
}

.user-event {
  color: rgb(165, 220, 235);
  margin: 0 0.25em;
}

.system-event {
  color: rgb(221, 148, 40);
  margin: 0 0.25em;
}

.sent {
  color: rgb(1, 130, 166);
}

.received {
  color: rgb(165, 220, 235);
}

.system {
  color: rgb(66, 87, 93);
}
